<h1>Angular Portfolio Items</h1>

<%= link_to "Create New Item", new_portfolio_path if logged_in?(:website_admin) %>

<% @portfolio.each do |eachPortfolio| %>
	<p><%= link_to eachPortfolio.title, portfolio_path(eachPortfolio.id) %></p>
	<p><%= eachPortfolio.subtitle %></p>
	<p><%= eachPortfolio.body %></p>
	<%= image_tag eachPortfolio.thumb_image if !eachPortfolio.thumb_image.nil?%>
	<%= link_to "Edit Portfolio", edit_portfolio_path(eachPortfolio.id) if logged_in?(:website_admin) %>
	<%= link_to 'Delete Portfolio', portfolio_path(eachPortfolio.id), method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:website_admin) %>
<% end %>