<!DOCTYPE html>
<html>
	<head>
		<title><%= @page_title %></title>
		<%= csrf_meta_tags %>

		<meta name="keywords" content="<%= @seo_keywords %>" />
		<%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

		<%= login_condition_helper %>
	 
		<%= yield %>

		<%= render "partial/navigate", location: 'bottom'  %>

		<%= session_source_helper %>

		<hr>
		<%= set_copyright_helper %>
	</body>
</html>
